<div class="panel panel-default">
    <div class="panel-heading"><h4>
        <a href="{{ path('game_show', {'id': game.id}) }}">{{ game.name|upper }}</a></h4>
        {{ game.developer }} | {{ game.releasedAt|date('d-m-Y') }}
    </div>
    <div class="panel-body">
        {{ game.description }}
        <a href="{{ path('game_show', {'id': game.id}) }}">Read more</a>
    </div>
    <div class="panel-footer">
        Category: {{ game.category.name }} | Platforms:
        {% for platform in game.platforms %}
            {{ platform.name }} {% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
</div>
