{% extends 'BtnAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ game.name }}{% endblock %}

{% block content %}
    <h1>{{ game.name }}</h1>
    <hr />
    {{ game.developer }} | {{ game.releasedAt|date('d-m-Y') }} | PS4, PS3, PS VITA
    <hr />
    <p>{{ game.description }}</p>

    <a href="{{ path('games_list') }}" class="btn btn-default">&laquo; Back to list</a>
{% endblock %}
